// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// This is the project stylesheet

// Layout
$layout: absolute;

// Colors
$blue-base: rgba(54, 123, 245, 1);
$gray-10: rgba(247, 249, 250, 1);
$gray-80: rgba(94, 99, 102, 1);
$transparent-royal-blue: rgba(54, 123, 245, 0.24);
$transparent-royal-blue-2: rgba(54, 123, 245, 0.16);
$white-base: rgba(255, 255, 255, 1);

// Typographies
@mixin racing-sans-one-24-regular {
  font-family: "Racing Sans One";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}