// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


.layout {
  position: $layout;
}

.wrapper {
  width: 100%;
  min-width: 1440px;
  height: 574px;
  margin: 0 auto;
}

.container {
  width: 100%;
  min-width: 1440px;
  height: 574px;
  left: -0.5px;
  top: -0.5px;
  border-radius: 20px;
  background: #e2f0f0;
  box-shadow: 0px 33px 43px 0 rgba(0, 0, 0, 0.1), 0px 9.94853401184082px 12.963241577148438px 0 rgba(0, 0, 0, 0.07), 0px 4.1321120262146px 5.384267330169678px 0 rgba(0, 0, 0, 0.05), 0px 1.4945039749145508px 1.9473838806152344px 0 rgba(0, 0, 0, 0.03);
}

.excess {
  overflow: hidden;
}

.fon {
  background: #fff;
}

.left-side {
  width: 260px;
  height: 574px;
  left: 63px;
  top: -1px;
}

.base-side {
  width: 1180px;
  height: 454px;
  left: 203px;
  top: 91px;
}

.menu-top {
  width: 100%;
  min-width: 1440px;
  height: 56px;
  left: -1px;
  top: 63px;
}

.dashboard-head {
  width: 100%;
  min-width: 1440px;
  height: 64px;
}

.wrapper-1 {
  left: -0.5px;
  top: -0.5px;
}

.wrapper-2 {
  left: -1px;
  top: -1px;
}

.logo-box {
  width: 40px;
  height: 40px;
  left: 15px;
  top: 11px;
  cursor: pointer;
}

.logo-shadow {
  width: 40px;
  height: 40px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  box-shadow: rgba(8, 35, 48, 0.16) 0px 2px 6px 0px, rgba(8, 35, 48, 0.24) 0px 1px 2px 0px;
  cursor: pointer;
}

.dashboard-name {
  width: 152px;
  height: 40px;
  left: 50px;
  top: 0px;
  font-size: 24px;
  text-align: left;
  color: #5e6366;
  font-family: Racing Sans One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  cursor: pointer;
}

.dashboard-d {
  width: 32px;
  height: 32px;
  left: 4px;
  top: 4px;
  font-size: 24px;
  text-align: center;
  color: #367bf5;
  font-family: Racing Sans One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  margin: 0px;
  margin-top: 3px;
  cursor: pointer;
}

.canvas-wrapper {
  width: 40px;
  height: 40px;
  left: 1383px;
  top: 11px;
  cursor: pointer;
}

.canvas-message {
  width: 40px;
  height: 40px;
  display: none;
}

.upgrade-wrapper {
  width: 320px;
  height: 40px;
}

.upgrade-wrapper-shadow {
  width: 96px;
  height: 40px;
  left: 1271.5px;
  top: 11.5px;
}

.upgrade-wrapper-style {
  width: 96px;
  height: 40px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0 rgba(54, 123, 245, 0.16), 0px 2px 4px 0 rgba(54, 123, 245, 0.24);
}

.upgrade-paragraph {
  width: 78px;
  height: 24px;
  left: 9px;
  top: 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #367bf5;
  //styleName: 14 sp • BUTTON;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-align: center;
  cursor:pointer;
}
.upgrade-paragraph:focus {
  text-decoration: underline;
}

p {
  margin: 7px 0;
  font-family: Arial;
}

.file-input {
  color: transparent;
  visibility: hidden!important;
}
.file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.file-input::before {
  content: 'Файл не выбран';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.file-input:hover::before {
  border-color: black;
}
.file-input:active {
  outline: 0;
}
.file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.nd-class-0 {
  width: 260px;
  height: 56px;
  left: -1px;
  top: 351px;
  border-radius: 10px;
  background: #e5efff;
  cursor:pointer;
}

.nd-class-1 {
  width: 208px;
  height: 42px;
  left: 52px;
  top: 4.67px;
  font-size: 12px;
  text-align: left;
  color: #5e6366;
  margin: 0;
  margin-top: 0px;
  margin-top: 27px;
  //styleName: 12 sp • Caption;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}

.nd-class-2 {
  width: 208px;
  height: 42px;
  left: 52px;
  top: 7px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  //styleName: 16 sp • Body 1 Quicksand;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: left;
  margin: 0;

}

.nd-class-3 {
  width: 28px;
  height: 28px;
  left: 11px;
  top: 13px;
}

.nd-class-4 {
  width: 260px;
  height: 56px;
  left: -1px;
  top: 295px;
}

.nd-class-5 {
  width: 208px;
  height: 42px;
  left: 52px;
  top: 4.67px;
  font-size: 12px;
  text-align: left;
  color: #5e6366;
  margin: 0;
  margin-top: 0px;
  margin-top: 27px;
  //styleName: 12 sp • Caption;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;

}

.nd-class-6 {
  width: 208px;
  height: 42px;
  left: 52px;
  top: 7px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  //styleName: 16 sp • Body 1 Quicksand;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: left;
  margin: 0;

}
.input__file-icon-wrapper{
  cursor: pointer;
}

.nd-class-7 {
  width: 28px;
  height: 28px;
  left: 11px;
  top: 13px;
}

.nd-class-8 {
  width: 260px;
  height: 56px;
  left: -1px;
  top: 231px;
  cursor:pointer;
}

.nd-class-9 {
  width: 208px;
  height: 42px;
  left: 52px;
  top: 4.67px;
  font-size: 12px;
  text-align: left;
  color: #5e6366;
  margin: 0;
  margin-top: 0px;
  margin-top: 27px;
  //styleName: 12 sp • Caption;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}

.nd-class-10 {
  width: 208px;
  height: 42px;
  left: 52px;
  top: 7px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  //styleName: 16 sp • Body 1 Quicksand;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: left;
  margin: 0;
}

.nd-class-11 {
  width: 28px;
  height: 28px;
  left: 11px;
  top: 13px;
}

.nd-class-12 {
  width: 213.43px;
  height: 56px;
  left: 22.28px;
  top: 151px;
  cursor:pointer;
  z-index:1000;
}

.nd-class-13 {
  width: 213px;
  height: 56px;
  left: -1px;
  top: -1px;
  border-radius: 99px;
  box-shadow: 0px 16px 24px 0 rgba(54, 123, 245, 0.16), 0px 6px 12px 0 rgba(54, 123, 245, 0.16);
}

.nd-class-14 {
  width: 32px;
  height: 32px;
  left: 15px;
  top: 11px;
}

.nd-class-15 {
  width: 141px;
  height: 35px;
  left: 56px;
  top: 9.33px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #367bf5;
  //styleName: 20 sp • H6 Quicksand;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  margin: 3px 0px auto;
  cursor: pointer;
}

.nd-class-16 {
  width: 920px;
  height: 304px;
}

.nd-class-17 {
  width: 330px;
  height: 304px;
  left: 195.5px;
  top: 113.5px;
}

.nd-class-18 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 815px;
}

.nd-class-19 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 752px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-20 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 751px;
}

.nd-class-21 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 688px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-22 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 687px;
}

.nd-class-23 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 624px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-24 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 623px;
}

.nd-class-25 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 560px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-26 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 559px;
}

.nd-class-27 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 496px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-28 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 495px;
}

.nd-class-29 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 432px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-30 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 431px;
}

.nd-class-31 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 368px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-32 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 367px;
}

.nd-class-33 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 304px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-34 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 303px;
}

.nd-class-35 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 240px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;

}

.nd-class-36 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 239px;
}

.nd-class-37 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 176px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;

}

.nd-class-38 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 175px;
}

.nd-class-39 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 112px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;

}

.nd-class-40 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 111px;
  cursor:pointer;
}

.nd-class-41 {
  width: 330px;
  height: 64px;
  left: 0px;
  top: 48px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;

}

.nd-class-42 {
  width: 330px;
  height: 0px;
  left: -1px;
  top: 47px;
}

.nd-class-43 {
  width: 16px;
  height: 48px;
  left: -1px;
  top: -1px;
}

.nd-class-44 {
  width: 16px;
  height: 48px;
  left: -1px;
  top: -1px;
}

.nd-class-45 {
  position: absolute;
  left: 2.01px;
  top: 25px;
}

.nd-class-46 {
  position: absolute;
  left: 2px;
  top: 15px;
}

.nd-class-47 {
  position: absolute;
  left: 24px;
  top: 12px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #919699;
  margin: 0px;
  //styleName: 16 sp • Body 1 Quicksand;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: left;

}

.nd-class-48 {
  width: 118px;
  height: 304px;
  left: 643.5px;
  top: 113.5px;
}

.nd-class-49 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 815px;
}

.nd-class-50 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 752px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-51 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 751px;
}

.nd-class-52 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 688px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-53 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 687px;
}

.nd-class-54 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 624px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-55 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 623px;
}

.nd-class-56 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 560px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-57 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 559px;
}

.nd-class-58 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 496px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-59 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 495px;
}

.nd-class-60 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 432px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-61 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 431px;
}

.nd-class-62 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 368px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-63 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 367px;
}

.nd-class-64 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 304px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-65 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 303px;
}

.nd-class-66 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 240px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-67 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 239px;
}

.nd-class-68 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 176px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-69 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 175px;
}

.nd-class-70 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 112px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-71 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 111px;
}

.nd-class-72 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 48px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-73 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 47px;
}

.nd-class-74 {
  width: 118px;
  height: 48px;
  left: 0px;
  top: 0px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: #919699;
  margin-top: 11px;
  //styleName: 16 sp • Body 1 Quicksand;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: right;
}

.nd-class-75 {
  width: 118px;
  height: 304px;
  left: 525.5px;
  top: 113.5px;
}

.nd-class-76 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 815px;
}

.nd-class-77 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 752px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-78 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 751px;
}

.nd-class-79 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 688px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-80 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 687px;
}

.nd-class-81 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 624px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-82 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 623px;
}

.nd-class-83 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 560px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-84 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 559px;
}

.nd-class-85 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 496px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-86 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 495px;
}

.nd-class-87 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 432px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-88 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 431px;
}

.nd-class-89 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 368px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-90 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 367px;
}

.nd-class-91 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 304px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-92 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 303px;
}

.nd-class-93 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 240px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #2fa84f;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-94 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 239px;
}

.nd-class-95 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 176px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-96 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 175px;
}

.nd-class-97 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 112px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #2fa84f;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-98 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 111px;
}

.nd-class-99 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 48px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-100 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 47px;
}

.nd-class-101 {
  width: 118px;
  height: 48px;
  left: 0px;
  top: 0px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: #919699;
  margin-top: 11px;
  //styleName: 16 sp • Body 1 Quicksand;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: right;

}

.nd-class-102 {
  width: 118px;
  height: 304px;
  left: 761.5px;
  top: 113.5px;
}

.nd-class-103 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 815px;
}

.nd-class-104 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 752px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-105 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 751px;
}

.nd-class-106 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 688px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-107 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 687px;
}

.nd-class-108 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 624px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-109 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 623px;
}

.nd-class-110 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 560px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-111 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 559px;
}

.nd-class-112 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 496px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-113 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 495px;
}

.nd-class-114 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 432px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-115 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 431px;
}

.nd-class-116 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 368px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-117 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 367px;
}

.nd-class-118 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 304px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-119 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 303px;
}

.nd-class-120 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 240px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-121 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 239px;
}

.nd-class-122 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 176px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-123 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 175px;
}

.nd-class-124 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 112px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-125 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 111px;
}

.nd-class-126 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 48px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-127 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 47px;
}

.nd-class-128 {
  width: 118px;
  height: 48px;
  left: 0px;
  top: 0px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: #919699;
  margin-top: 11px;
  //styleName: 16 sp • Body 1 Quicksand;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: right;
}

.nd-class-129 {
  width: 118px;
  height: 304px;
  left: 879.5px;
  top: 113.5px;
}

.nd-class-130 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 815px;
}

.nd-class-131 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 752px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-132 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 751px;
}

.nd-class-133 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 688px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-134 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 687px;
}

.nd-class-135 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 624px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-136 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 623px;
}

.nd-class-137 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 560px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-138 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 559px;
}

.nd-class-139 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 496px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-140 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 495px;
}

.nd-class-141 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 432px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-142 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 431px;
}

.nd-class-143 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 368px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-144 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 367px;
}

.nd-class-145 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 304px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-146 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 303px;
}

.nd-class-147 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 240px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-148 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 239px;
}

.nd-class-149 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 176px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-150 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 175px;
}

.nd-class-151 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 112px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-152 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 111px;
}

.nd-class-153 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 48px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-154 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 47px;
}

.nd-class-155 {
  width: 118px;
  height: 48px;
  left: 0px;
  top: 0px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: #919699;
  margin-top: 11px;
  //styleName: 16 sp • Body 1 Quicksand;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: right;
}

.nd-class-156 {
  width: 118px;
  height: 304px;
  left: 997.5px;
  top: 113.5px;
}

.nd-class-157 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 815px;
}

.nd-class-158 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 752px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-159 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 751px;
}

.nd-class-160 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 688px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-161 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 687px;
}

.nd-class-162 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 624px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-163 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 623px;
}

.nd-class-164 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 560px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-165 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 559px;
}

.nd-class-166 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 496px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-167 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 495px;
}

.nd-class-168 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 432px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-169 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 431px;
}

.nd-class-170 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 368px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-171 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 367px;
}

.nd-class-172 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 304px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-173 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 303px;
}

.nd-class-174 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 240px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-175 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 239px;
}

.nd-class-176 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 176px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-177 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 175px;
}

.nd-class-178 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 112px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-179 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 111px;
}

.nd-class-180 {
  width: 118px;
  height: 64px;
  left: 0px;
  top: 48px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #5e6366;
  //styleName: 20 sp • H6 Roboto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15000000596046448px;
  text-align: right;

}

.nd-class-181 {
  width: 118px;
  height: 0px;
  left: -1px;
  top: 47px;
}

.nd-class-182 {
  width: 118px;
  height: 48px;
  left: 0px;
  top: 0px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: #919699;
  margin-top: 11px;
  //styleName: 16 sp • Body 1 Quicksand;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: right;
}

.nd-class-183 {
  width: 32px;
  height: 32px;
  left: 1083px;
  top: 48px;
  cursor:pointer;
}

.nd-class-184 {
  width: 32px;
  height: 32px;
  left: 1043px;
  top: 48px;
  cursor:pointer;
}

.nd-class-185 {
  width: 684px;
  left: 196px;
  top: 40px;
  font-size: 34px;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  //styleName: 34 sp • H4 Quicksand;
  font-family: Quicksand;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.25px;
  text-align: left;

}

.nd-class-186 {
  width: 232px;
  height: 32px;
  left: 803px;
  top: 48px;
}

.nd-class-187 {
  width: 232px;
  height: 32px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #c6cacc;
}

.nd-class-188 {
  width: 208px;
  height: 20.57px;
}

.nd-class-189 {
  width: 208px;
  height: 20.57px;
  left: 12px;
  top: 5.71px;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-190 {
  width: 24px;
  height: 24px;
}

.nd-class-191 {
  width: 232px;
  height: 32px;
  left: 803px;
  top: 48px;
}

.nd-class-192 {
  width: 232px;
  height: 32px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #c6cacc;
}

.nd-class-193 {
  width: 208px;
  height: 20.57px;
}

.nd-class-194 {
  width: 208px;
  height: 20.57px;
  left: 12px;
  top: 5.71px;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-195 {
  width: 24px;
  height: 24px;
}

.nd-class-196 {
  width: 232px;
  height: 32px;
  left: 803px;
  top: 48px;
}

.nd-class-197 {
  width: 232px;
  height: 32px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #c6cacc;
}

.nd-class-198 {
  width: 208px;
  height: 20.57px;
}

.nd-class-199 {
  width: 208px;
  height: 20.57px;
  left: 12px;
  top: 5.71px;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.nd-class-200 {
  width: 24px;
  height: 24px;
}

.nd-class-201 {
  width: 232px;
  height: 32px;
  left: 803px;
  top: 48px;
}

.nd-class-202 {
  width: 232px;
  height: 32px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #c6cacc;
  border: 1px solid #c6cacc;
  cursor:pointer;
}

.nd-class-203 {
  width: 208px;
  height: 20.57px;
}

.nd-class-204 {
  width: 208px;
  height: 20.57px;
  left: 12px;
  /*top: 5.71px;*/
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  //styleName: 14 sp • Body 2;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  cursor:pointer;
}

.nd-class-205 {
  width: 24px;
  height: 24px;
  float: right;
  margin-top: -15px;
  display: block;
  margin-right: 10px;
}

.nd-class-206 {
  width: 330px;
  height: 32px;
  left: 195px;
  top: 417px;
}

.nd-class-207 {
  width: 330px;
  height: 32px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #c6cacc;
  border: 1px solid #c6cacc;
}

.nd-class-208 {
  width: 306px;
  height: 20.57px;
}

.nd-class-209 {
  width: 306px;
  height: 20.57px;
  left: 12px;
  top: 5.71px;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  //styleName: 14 sp • Body 2;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  margin: 0;

}

.nd-class-210 {
  width: 86px;
  height: 32px;
  left: 557px;
  top: 417px;
}

.nd-class-211 {
  width: 86px;
  height: 32px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #c6cacc;
  border: 1px solid #c6cacc;
}

.nd-class-212 {
  width: 62px;
  height: 20.57px;
}

.nd-class-213 {
  width: 62px;
  height: 20.57px;
  left: 12px;
  top: 5.71px;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}

.nd-class-214 {
  width: 86px;
  height: 32px;
  left: 675px;
  top: 417px;
}

.nd-class-215 {
  width: 86px;
  height: 32px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #c6cacc;
  border: 1px solid #c6cacc;
}

.nd-class-216 {
  width: 62px;
  height: 20.57px;
}

.nd-class-217 {
  width: 62px;
  height: 20.57px;
  left: 12px;
  top: 5.71px;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}

.nd-class-218 {
  width: 86px;
  height: 32px;
  left: 793px;
  top: 417px;
}

.nd-class-219 {
  width: 86px;
  height: 32px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #c6cacc;
  border: 1px solid #c6cacc;
}

.nd-class-220 {
  width: 62px;
  height: 20.57px;
}

.nd-class-221 {
  width: 62px;
  height: 20.57px;
  left: 12px;
  top: 5.71px;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}

.nd-class-222 {
  width: 86px;
  height: 32px;
  left: 911px;
  top: 417px;
}

.nd-class-223 {
  width: 86px;
  height: 32px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #c6cacc;
  border: 1px solid #c6cacc;
}

.nd-class-224 {
  width: 62px;
  height: 20.57px;
}

.nd-class-225 {
  width: 62px;
  height: 20.57px;
  left: 12px;
  top: 5.71px;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}

.nd-class-226 {
  width: 86px;
  height: 32px;
  left: 1029px;
  top: 417px;
}

.nd-class-227 {
  width: 86px;
  height: 32px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #c6cacc;
  border: 1px solid #c6cacc;
}

.nd-class-228 {
  width: 62px;
  height: 20.57px;
}

.nd-class-229 {
  width: 62px;
  height: 20.57px;
  left: 12px;
  top: 5.71px;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}

.nd-class-230 {
  width: 100%;
  min-width: 1440px;
  height: 0px;
  left: -1px;
  top: 55px;

}

.nd-class-231 {
  width: 687px;
  height: 56px;
  left: 375px;
  top: -1px;
  //styleName: 16 sp • Body 1 Roboto;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: center;
}

.nd-class-232 {
  width: 109px;
  height: 56px;
  left: 483px;
  top: -1px;
  cursor:pointer;
}

.nd-class-233 {
  width: 112px;
  height: 56px;
  left: 251px;
  top: -1px;
  cursor:pointer;
}

.nd-class-234 {
  width: 101.82px;
  height: 46.67px;
  left: 5.09px;
  top: 4.67px;
  font-size: 16px;
  text-align: center;
  color: #5e6366;
  margin: 14px 0;
  //styleName: 16 sp • Body 1 Roboto;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: center;

}

.nd-class-235 {
  width: 153px;
  height: 56px;
  left: 98px;
  top: -1px;
  cursor:pointer;
}

.nd-class-236 {
  width: 139.09px;
  height: 46.67px;
  left: 6.95px;
  top: 4.67px;
  font-size: 16px;
  text-align: center;
  color: #5e6366;
  margin: 14px 0;
  //styleName: 16 sp • Body 1 Roboto;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: center;

}

.nd-class-237 {
  width: 99px;
  height: 56px;
  left: -1px;
  top: -1px;
}

.nd-class-238 {
  width: 97px;
  height: 55px;
  left: 0px;
  top: 3px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-width: 1px;
  border-color: #c6cacc;
  border: 1px solid #c6cacc;
  border-radius: 4px 4px 0 0;
  cursor:pointer;
}

.nd-class-239 {
  width: 90px;
  height: 46.67px;
  left: 4.5px;
  top: 4.67px;
  font-size: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin: 14px 0;
  //styleName: 16 sp • Body 1 Roboto;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: center;

}

.nd-class-240 {
  width: 0px;
  height: 0px;
}

.nd-class-241 {
  width: 0px;
  height: 0px;
}

.nd-class-242 {
  width: 96px;
  height: 40px;
  left: 1159.5px;
  top: 11.5px;
}

.nd-class-243 {
  width: 96px;
  height: 40px;
  left: -1px;
  top: -1px;
  border-radius: 10px;
  background: #f7f9fa;
}

.nd-class-244 {
  width: 78px;
  height: 24px;
  left: 9px;
  top: 0px;
  font-size: 16px;
  text-align: left;
  color: #5e6366;
  //styleName: 16 sp • Body 1 Roboto;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4399999976158142px;
  text-align: left;

}

.nd-class-245 {
  width: 0px;
  height: 0px;
}

.nd-class-246 {
  width: 28px;
  height: 28px;
  position: relative;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  cursor:pointer;
}

